extends ../layout

block styles
  link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/css/bootstrap-datetimepicker.min.css')
  link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css')

block content
  h2 Create New Appointment

  form#formAppointment.form-horizontal.col-lg-5(name='formAppointment', method='POST', action='/appointments/' + appointment.id + '/edit', data-parsley-validate='')
    include _form

    .form-group
      .col-sm-offset-4.col-sm-8
        button.btn.btn-default(type='submit') Save


block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/js/bootstrap-datetimepicker.min.js')
  script(src='/js/datetime-picker.js')
